1. Add an expense: 
 Create a function to prompt the user for expense details. Ensure you ask for
 o The date of the expense in the format YYYY-MM-DD
o The category of the expense, such as Food or Trave
o The amount spe 
o A brief description of the ex
ee 
• Store the expense in a list as a dictionary, where each dictionary includes the 
date, category, amount, and description as key-value pairs 
Example: 
{'date': '2024-09-18', 'category': 'Food', 'amount': 15.50, 'description': 
'Lunch with friends'}

In [37]:
import pandas as pd
expenses_trak = pd.DataFrame(columns=['date', 'category', 'amount', 'description'])

In [38]:
def add_expense(new_expense):
    idx=len(expenses_trak) -1
    expenses_trak.loc[idx] = new_expense
    return expenses_trak

In [39]:
new_expense = {'date': '2024-09-20', 'category': 'Cinema', 'amount': 7.65, 'description': 'Cinema with sister'}

In [40]:
add_expense(new_expense)

          date category  amount         description
-1  2024-09-20   Cinema    7.65  Cinema with sister

In [41]:
new_expense = {'date': '2024-09-18', 'category': 'Food', 'amount': 100, 'description': 'Dinner with family'}

In [42]:
add_expense(new_expense)

          date category  amount         description
-1  2024-09-20   Cinema    7.65  Cinema with sister
 0  2024-09-18     Food  100.00  Dinner with family

In [43]:
new_expense = {'date': '2024-09-19', 'category': 'Health', 'amount': 30.50, 'description': 'Manicure'}

In [44]:
expenses_trak = add_expense(new_expense)

          date category  amount         description
-1  2024-09-20   Cinema    7.65  Cinema with sister
 0  2024-09-18     Food  100.00  Dinner with family
 1  2024-09-19   Health   30.50            Manicure

In [75]:
new_expense = input_expense()

Please indicate the date of you expense in format 'YYYY-MM-DD' 2024-11-15
Please indicate the category of the expense' Transports
Please provide a short description of the expense' Taxi to the airport
Please indicate the amount of your expense 36,89

In [76]:
new_expense

{'date': datetime.date(2024, 11, 15),
 'category': 'Transports',
 'description': 'Taxi to the airport',
 'amount': 36.89}

In [77]:
add_expense(new_expense)

          date    category  amount          description
-1  2024-09-20      Cinema    7.65   Cinema with sister
 0  2024-09-18        Food  100.00   Dinner with family
 1  2024-09-19      Health   30.50             Manicure
 2  2024-09-19      Health   23.90             Manicure
 3  2024-09-19      Health   23.90             Manicure
 4  2024-11-15  Transports   36.89  Taxi to the airport

In [138]:
new_expense = {'date': '2024-09-14',
 'category': "FoOd",
 'amount': 400,
 'description': 'Birthday lunch'}

In [142]:
expenses_trak = add_expense(new_expense)

In [21]:
import numpy as np

def visualize_expenses():
    message = "" 
    if np.where(pd.isnull(expenses_trak)):
        message = "Some entries are incomplete and have been hidden"
    return [message, expenses_trak.dropna(axis=0).to_string(index=False)]

In [105]:
visualize_expenses()

Some entries are incomplete and have been hidden
      date   category  amount         description
2024-09-20     Cinema    7.65  Cinema with sister
2024-09-18       Food  100.00  Dinner with family
2024-09-19     Health   30.50            Manicure
2024-09-19     Health   23.90            Manicure
2024-09-19     Health   23.90            Manicure
2024-11-15 Transports   36.89 Taxi to the airport

In [106]:
expenses_trak

          date    category  amount          description
-1  2024-09-20      Cinema    7.65   Cinema with sister
 0  2024-09-18        Food  100.00   Dinner with family
 1  2024-09-19      Health   30.50             Manicure
 2  2024-09-19      Health   23.90             Manicure
 3  2024-09-19      Health   23.90             Manicure
 4  2024-11-15  Transports   36.89  Taxi to the airport
 5  2024-09-19         NaN   23.90             Manicure

In [111]:
budgets = {}
def budget_setting(category="all"):
    try :
        budget = float(str(input("Please indicate the budget")).replace(",", "."))
    except Exception as e:
        print("Please insert the correct amount")
        raise ValueError("Incorrect amount format")
    budgets[category.lower()] = budget

In [114]:
budget_setting("Food")

Please indicate the budget 400

In [115]:
budgets

{'all': 1000.0, 'food': 400.0}

In [150]:
def track_budget(category="all"):
    if category != "all" :
        expenses_tracked = expenses_trak[expenses_trak["category"].str.lower() == category.lower()]
    else :
        expenses_tracked = expenses_trak

    if expenses_tracked["amount"].sum() >= budgets[category.lower()]:
        print("WARNING: you have overachieved your budget on {} expenses.\nTotal spent amount: {}€".format(category.lower(), expenses_tracked["amount"].sum()))
    else :
        print("INFO: remaining budget on {} expenses : {}€".format(category.lower(), budgets[category.lower()] - expenses_tracked["amount"].sum()))

In [151]:
track_budget("Food")

WARNING: you have overachieved your budget on food expenses.
Total spent amount: 1300.0

In [144]:
expenses_trak

          date    category  amount          description
-1  2024-09-20      Cinema    7.65   Cinema with sister
 0  2024-09-18        Food  100.00   Dinner with family
 1  2024-09-19      Health   30.50             Manicure
 2  2024-09-19      Health   23.90             Manicure
 3  2024-09-19      Health   23.90             Manicure
 4  2024-11-15  Transports   36.89  Taxi to the airport
 5  2024-09-19         NaN   23.90             Manicure
 6  2024-09-14        FoOd  400.00       Birthday lunch
 7  2024-09-14        FoOd  400.00       Birthday lunch
 8  2024-09-14        FoOd  400.00       Birthday lunch

In [153]:
budget_setting("Food")
track_budget("food")

Please indicate the budget 300

WARNING: you have overachieved your budget on food expenses.
Total spent amount: 1300.0

In [2]:
import tkinter as tk
from tkinter import filedialog

def ask_directory():
    root = tk.Tk()
    root.withdraw()
    dir_name = filedialog.asksaveasfilename(filetypes=[("Csv files", "*.csv")])
    return dir_name

def save_expenses():
    dir = ask_directory()
    expenses_trak.to_csv(dir+".csv", index=False)
    print("File saved at location: ", dir)

In [179]:
save_expenses()

File saved at location:  C:/Users/filom/OneDrive/Documents/Formations/CalTech/Nouveau dossier/test1

In [3]:
def ask_filename():
    root = tk.Tk()
    root.withdraw()
    dir_name = filedialog.askopenfilename(filetypes=[("Csv files", "*.csv")])
    return dir_name

def load_expenses():
    file_path = ask_filename()
    tk.messagebox.showinfo(title='Selected File', message=file_path)
    return pd.read_csv(file_path)

In [183]:
df = load_expenses()
print(df)

         date    category  amount          description
0  2024-09-20      Cinema    7.65   Cinema with sister
1  2024-09-18        Food  100.00   Dinner with family
2  2024-09-19      Health   30.50             Manicure
3  2024-09-19      Health   23.90             Manicure
4  2024-09-19      Health   23.90             Manicure
5  2024-11-15  Transports   36.89  Taxi to the airport
6  2024-09-19         NaN   23.90             Manicure
7  2024-09-14        FoOd  400.00       Birthday lunch
8  2024-09-14        FoOd  400.00       Birthday lunch
9  2024-09-14        FoOd  400.00       Birthday lunch

In [12]:
import datetime
import tkinter as tk

def input_expense(date, category, description, amount):
    new_expense = {}
    try:
        new_expense['date'] = datetime.date.fromisoformat(date)
    except:
        tk.messagebox.showwarning("Date format error", "Please insert the date in the following format 'YYYY-MM-DD'")
        raise ValueError("Incorrect data format, should be YYYY-MM-DD")
 
    new_expense['category'] = category
    new_expense['description'] = description
    
    try :
        new_expense['amount'] = float(str(amount).replace(",", "."))
    except Exception as e:
        tk.messagebox.showwarning("Amount format error", "Please insert the correct amount")
        raise ValueError("Incorrect amount format")
    return new_expense

In [ ]:
from tkinter import ttk
import tkinter as tk

# Create the main window
window = tk.Tk()
window.title("Personal Expense Tracker")

# Load existing expenses
frame1 = tk.Frame(master=window, relief='flat', width=400, height=100)
frame1.pack()

label = tk.Label(master=frame1, text="Please load your csv expense file.")
label.pack(fill=tk.Y, side=tk.LEFT)
load_button = tk.Button(master=frame1, text="Open File", command=load_expenses)
load_button.pack(fill=tk.Y, side=tk.LEFT)

# Add expense
frame2 = tk.Frame(master=window, relief='groove', width=400, height=100)
frame2.pack()
label = tk.Label(master=frame2, text="Add your exepense hereunder.")
label.pack(fill=tk.Y, side=tk.LEFT)

frame3 = tk.Frame(master=window, relief='ridge', width=400, height=400)
frame3.pack()
label = tk.Label(master=frame3, text="Date")
label.grid(row=1,column=1)
date_entry = ttk.Entry(master=frame3)
date_entry.grid(row=1,column=2)

label = tk.Label(master=frame3, text="Category")
label.grid(row=2,column=1)
category_entry = ttk.Entry(master=frame3)
category_entry.grid(row=2,column=2)

label = tk.Label(master=frame3, text="Description")
label.grid(row=3,column=1)
description_entry = ttk.Entry(master=frame3)
description_entry.grid(row=3,column=2)

label = tk.Label(master=frame3, text="Amount")
label.grid(row=4,column=1)
amount_entry = ttk.Entry(master=frame3)
amount_entry.grid(row=4,column=2)

def add_expense():
    try:
        input_expense(date_entry.get(), category_entry.get(), description_entry.get(), amount_entry.get())
        tk.messagebox.showinfo("Add expense", "Expense added.")
    except:
        tk.messagebox.showwarning("WARNING", "An error occurred please retry.")
        
add_expense_button = tk.Button(master=frame3, text="Add expense", command=add_expense)
add_expense_button.grid(row=5,column=2)
        
# View expenses 
frame4 = tk.Frame(master=window, width=400, height=400)
frame4.pack()
label = tk.Label(master=frame4, text="View expenses")
label.grid(row=1,column=1)

def show_expenses():
    try:
        df = visualize_expenses()
    except:
        tk.messagebox.showwarning("WARNING", "No expenses to visualize")
    window = tk.TK()
    window.title("DataFrame Table in Tkinter")

    # Create Treeview widget (table)
    tree = ttk.Treeview(root)

    # Define columns (columns of the DataFrame)
    tree["columns"] = list(df.columns)

    # Format columns (show column names as headers)
    for col in df.columns:
        tree.heading(col, text=col)

    # Add data rows to the treeview
    for _, row in df.iterrows():
        tree.insert("", "end", values=list(row))

    # Pack the treeview widget
    tree.pack(expand=True, fill=tk.BOTH)

    # Run the Tkinter event loop
    root.mainloop()

view_expense_button = tk.Button(master=frame4, text="View expense", command=show_expenses)
view_expense_button.grid(row=1,column=2)
# Track budget 
# Save expenses 
# Exit 

# Run the application
window.mainloop()

Exception in Tkinter callback
Traceback (most recent call last):
  File "C:\Users\filom\anaconda3\Lib\tkinter\__init__.py", line 1968, in __call__
    return self.func(*args)
           ^^^^^^^^^^^^^^^^
  File "C:\Users\filom\AppData\Local\Temp\ipykernel_137664\966185096.py", line 66, in show_expenses
    window = tk.TK()
             ^^^^^
AttributeError: module 'tkinter' has no attribute 'TK'. Did you mean: 'Tk'?
Exception in Tkinter callback
Traceback (most recent call last):
  File "C:\Users\filom\anaconda3\Lib\tkinter\__init__.py", line 1968, in __call__
    return self.func(*args)
           ^^^^^^^^^^^^^^^^
  File "C:\Users\filom\AppData\Local\Temp\ipykernel_137664\2944145810.py", line 10, in load_expenses
    return pd.read_csv(file_path)
           ^^
NameError: name 'pd' is not defined
Exception in Tkinter callback
Traceback (most recent call last):
  File "C:\Users\filom\anaconda3\Lib\tkinter\__init__.py", line 1968, in __call__
    return self.func(*args)
           ^^^^^^^^^^^^^^^^
  File "C:\Users\filom\AppData\Local\Temp\ipykernel_137664\966185096.py", line 66, in show_expenses
    window = tk.TK()
             ^^^^^
AttributeError: module 'tkinter' has no attribute 'TK'. Did you mean: 'Tk'?